@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#top h1{
    font-family: 'Lato', sans-serif;
    color: #fff;
}

#next-screen {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5%;
}

#next-screen button {
    padding: 0.25% 0.5%;
    color: #fff;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 12pt;
}

#next-screen button:hover {
    box-shadow: 0 0 8px #fff;
    font-weight: 700;
}

#next-screen #btn-delete {
    background-color: #b12124;
}

#next-screen #btn-update {
    background-color: #238015;
}

#container {
    background-color: blueviolet;
    padding: 0;
    box-shadow: 0 0 5px #fff;
    border-radius: 10px;
    width: 80%;
    height: 75%;
    font-family: "Arial", "Helvetica", sans-serif;
}

#messages-container {
    height: 88%;
    width: 100%;
    border-radius: 10px;
    background-color: #a09d9d7c;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.5%;
    Overflow-y: auto;
}

#messages-container .message {
    width: 95%;
    padding: 0.25%;
    background-color: rgba(47, 5, 87, 0.466);
    border-left: 1px solid #c4c4ff;
    border-radius: 10px;
}

#messages-container .message:first-child {
    margin-top: 0.5%;
}

#messages-container .message:nth-child(2){
    margin-top: 0.5%;
}

#messages-container > .message + .message {
    margin-bottom: 0.5%;
}

#messages-container .message .header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #cee1f7;
}

#messages-container .message .header .name {
    margin-right: 25px;
    font-size: 10pt;
    font-weight: 700;
    font-family: "Arial", "Helvetica", sans-serif;
    color: rgb(0, 0, 0);
    margin-left: 0.25%;
}

#messages-container .message .header .timestamp {
    font-size: 10pt;
    font-weight: 400;
    font-family: "Arial", "Helvetica", sans-serif;
    color: rgb(0, 0, 0);
}

#messages-container .message .message-content p {
    text-align: justify;
    font-size: 10pt;
    font-family: "Arial", "Helvetica", sans-serif;
    color: rgb(0, 0, 0);
    margin-left: 0.25%;
}

#send-bar {
    height: 12%;
    width: 100%;
    background-color: rgb(84, 9, 107);
    padding: 0.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

#send-bar textarea {
    width: 89%;
    font-size: 10pt;
    text-align: justify;
    border-radius: 10px;
    background-color: rgba(252, 252, 252, 0.651);
}

#send-bar button{
    width: 10%;
    color: #fff;
    font-weight: 850;
    border-radius: 9px;
    background-color: rgba(97, 34, 156, 0.884);
}

/*
    height: 20%;
    font-family: "Arial", "Helvetica", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */